<a href="https://colab.research.google.com/github/Blitz2000r/TESTING/blob/main/BASICS_OOPipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
 num = 8
 num *= 8
 num += 20
 print(num)

84

In [8]:
acceleration = 100

if acceleration <= 50:
 print("takbong chill lang")

else:
 print("kamote rider")

kamote rider

In [9]:
length = 120

if length >= 100:
  print("over")

elif length >= 130:
  print("super over")

else:
  print("saks lang")

over

In [13]:
num = 1

while num <= 20:
  print(num)
  num += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [22]:
for x in range(2, 15):
  print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14

In [28]:
sum = 0
for i in range(2,20):
  if sum < 15:
    break

    sum += i

print(sum)

0

In [29]:
price = 100

if price <= 300:
 print("the salary is low")

if price >350:
  print("the salary is high")

else:
  print("bahala ka na lol")

the salary is low
bahala ka na lol

In [31]:
for a in range (1, 10):

 for b in range (1, 10):

  print(a,b)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [34]:
word = "hann"
print(word[1], word[2], word[3], word[4])

IndentationError: ignored

In [37]:
print('he' in 'simple')
print('ee' in 'simple')

False
False

In [56]:
word = 'hannah nathanielle'

for letter in word:
    if letter not in 'aeiou':
     print(letter)

h
n
n
h

n
t
h
n
l
l